<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect HTTP to HTTPS and www
    Redirect 301 /index.php /
    #Redirect 301 /public/index.php/comments-details /
    #Redirect 301 /public/comments-details /
    RewriteCond %{HTTP_HOST} ^poonamvoyageinde\.com [NC]
    RewriteRule ^(.*)$ https://www.poonamvoyageinde.com/$1 [L,R=301]

    RewriteCond %{HTTPS} off
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    RewriteCond %{REQUEST_URI} !^public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
