<IfModule mod_rewrite.c>
RewriteEngine On

# Force HTTPS + www
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^poonamvoyageinde\.com$ [NC]
RewriteRule ^(.*)$ https://www.poonamvoyageinde.com/$1 [L,R=301]

# Remove /public from URL
RewriteCond %{THE_REQUEST} \s/+public[^\s]* [NC]
RewriteRule ^public/?(.*)$ https://www.poonamvoyageinde.com/$1 [R=301,L]

# Laravel routing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]

</IfModule>